<main>
  <app-side-bar></app-side-bar>
  <div class="content-container">
    <app-header style="width: 100%" title="Gerenciamento de Dispositivos"></app-header>
    <div class="content">
      <app-card
        class="card"
        style="width: 23%; height: 15%"
        cardType="text"
        [cardContent]="{
                    title: 'Total de Dispositivos',
                    content: totalDispositivos().toString(),
                }"
        [cardStyle]="{
                    header: {
                        color: 'rgb(107 114 128)'
                    },
                    footer: {
                        color: '#22C55E'
                    }
                }"
      ></app-card>
      <app-card
        class="card"
        style="width: 23%; height: 15%"
        cardType="text"
        [cardContent]="{
                    title: 'Ativos',
                    content: totalDispositivosAtivos().toString(),
                }"
        [cardStyle]="{
                    header: {
                       color: 'rgb(107 114 128)'
                    },
                    footer: {
                        color: '#22C55E'
                    },
                    content: {
                        color: 'rgb(16 185 129)'
                    }
                }"
      ></app-card>
      <app-card
        class="card"
        style="width: 23%; height: 15%"
        cardType="text"
        [cardContent]="{
                    title: 'Atenção',
                    content: totalDispositivosEmManutencao().toString(),
                }"
        [cardStyle]="{
                    header: {
                       color: 'rgb(107 114 128)'
                    },
                    footer: {
                        color: '#22C55E'
                    },
                    content: {
                        color: 'rgb(245 158 11)'
                    }
                }"
      ></app-card>
      <app-card
        class="card"
        style="width: 23%; height: 15%"
        cardType="text"
        [cardContent]="{
                    title: 'Offline',
                    content: totalDispositivosInativos().toString(),
                }"
        [cardStyle]="{
                    header: {
                        color: 'rgb(107 114 128)'
                    },
                    footer: {
                        color: '#22C55E'
                    },
                    content: {
                        color: 'rgb(239 68 68)'
                    }
                }"
      ></app-card>
      <div>
        <dx-data-grid
          #dispositivosGrid
          [dataSource]="dispositivos"
          [showBorders]="true"
          keyExpr="id"
          [showRowLines]="true"
          (onRowInserted)="salvarDispositivo($event)"
          (onRowUpdated)="salvarDispositivo($event)"
          (onRowRemoved)="removerDispositivo($event)"
          height="500"
        >
          <dxo-editing
            mode="popup"
            [allowAdding]="true"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [useIcons]="true"
          ></dxo-editing>
          <dxi-column
            dataField="nome"
            caption="Nome"
          ></dxi-column>
          <dxi-column
            dataField="zonaId"
            caption="Setor"
          >
            <dxo-lookup
              [dataSource]="setores"
              displayExpr="nome"
              valueExpr="id">
            </dxo-lookup>
          </dxi-column>
          <dxi-column
            dataField="status"
            caption="Status"
          >
            <dxo-lookup
              [dataSource]="statusOptions"
              displayExpr="label"
              valueExpr="value">
            </dxo-lookup>
          </dxi-column>
          <dxi-column
            dataField="dataCriacao"
            caption="Instalação"
            dataType="date"
            format="dd/MM/yyyy"
          ></dxi-column>
          <dxi-column
            dataField="data_Modificacao"
            caption="Última Atualização"
            dataType="date"
            format="dd/MM/yyyy"
          ></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>
</main>
