<header class="header">
  <div class="text">
    <h2>{{title}}</h2>
    <span>{{marca?.nome}}</span>
  </div>
  <div class="buttons">
    <button class="btn-add-loja" (click)="popUpLojaAberto = true">Adicionar Loja</button>
    <!-- <div class="dropdown">
      <button (click)="abrirDropdown()">Trocar Loja &darr;</button>
      @if(dropdownAberto){
        <div class="dropdown-content">
          @for(loja of lojas; track loja.id){
            <button class="dropdown-item" (click)="trocarLoja(loja)">{{loja.nome}}</button>
          }
        </div>
      }
    </div> -->
  </div>
</header>
@if(popUpLojaAberto){
  <app-pop-up-loja (fecharPopup)="this.popUpLojaAberto = false;"></app-pop-up-loja>
}
@if(popUpMarcaAberto){
  <app-pop-up-marca (fecharPopup)="fecharPopUpMarca()"></app-pop-up-marca>
} 