<main>
    <app-side-bar></app-side-bar>
    <div class="content-container">
        <app-header style="width: 100%" title="Analytics da Loja"></app-header>
        <div class="content">
            <app-card
                class="card"
                style="width: 23%;"
                cardType="text"
                [cardContent]="{
                    title: 'Total de Visitantes',
                    iconTitle: 'assets/1.svg',
                    iconTitleSize: '30px',
                    content: data?.totalVisitantes ? data.totalVisitantes.toString() : '0',
                    footer: 'Últimos 7 dias'
                }"
                [cardStyle]="{
                    footer: {
                        color: '#22C55E'
                    }
                }"
            ></app-card>
            <app-card
                class="card"
                style="width: 23%;"
                cardType="text"
                [cardContent]="{
                    title: 'Tempo Média Olhando',
                    iconTitle: 'assets/icons8-visão-96 1.svg',
                    content: data?.tempoMedio ? data.tempoMedio.toFixed(2).toString() : '0',
                    footer: 'Segundos'
                }"

            ></app-card>
            <app-card
                class="card"
                style="width: 23%;"
                cardType="text"
                [cardContent]="{
                    title: 'Interação com os Produtos',
                    iconTitle: 'assets/4.svg',
                    iconTitleSize: '30px',
                    content: data?.interacoes ? data.interacoes.toString() : '0',
                    footer: 'Pessoas Diferentes'
                }"
                [cardStyle]="{
                    footer: {
                        color: 'gray'                    }
                }"
            ></app-card>
            <app-card
                class="card"
                style="width: 23%;"
                cardType="text"
                [cardContent]="{
                    title: 'Satisfação Média',
                    iconTitle: 'assets/icons8-feliz-96 1.svg',
                    content: data?.satisfacao ? data.satisfacao.toFixed(2).toString() + '%' : '0%',
                    footer: 'Por Mês'
                }"
                [cardStyle]="{
                    footer: {
                        color: 'black'
                    }
                }"
            ></app-card>
            <app-card
              class="card"
              style="width: 48%; height: 75%;"
              cardType="content"
              [cardContent]="{
                      title: 'Prateleiras',
                      iconTitle: 'assets/4.svg',
                  }"
            >
              @defer (when prateleiras){
                <div
                >
                  <dx-data-grid
                    #prateleriasGrid
                    [dataSource]="prateleiras"
                    [showBorders]="true"
                    keyExpr="id"
                    [showColumnLines]="false"
                    [showRowLines]="true"
                    height="500"
                  >
                    <dxi-column
                      dataField="nome"
                      caption="Nome"
                    ></dxi-column>
                    <dxi-column
                      dataField="visitantes"
                      alignment="left"
                      caption="Visitantes"
                    ></dxi-column>                  
                    <dxi-column
                      dataField="satisfacao"
                      caption="Satisfação"
                      dataType="string"
                      cellTemplate="percentTemplate"
                    >
                      <div *dxTemplate="let cellInfo of 'percentTemplate'">
                        <p>{{cellInfo.data.satisfacao}}%</p>
                      </div>
                    </dxi-column>
                    <dxi-column
                      dataField="engajamento"
                      caption="Engajamento"
                      dataType="string"
                    ></dxi-column>
                    <dxi-column 
                      caption="Ações"
                      cellTemplate="linkCellTemplate"
                    >
                      <div *dxTemplate="let cellInfo of 'linkCellTemplate'">
                        <a [routerLink]="['/dashboardPrateleira/' + cellInfo.data.id]"><img class="goToImg" src="assets/goToIcon.svg"></a>
                      </div>
                    </dxi-column>
                  </dx-data-grid>
                </div>
              }
              @placeholder {
                <div class="card-content">
                  <p>Carregando...</p>
                </div>
              }
            </app-card>
            <app-card
              class="card"
              style="width: 48%; height: 75%"
              cardType="content"
              [cardContent]="{
                        title: 'Gráficos',
                        iconTitle: 'assets/4.svg'
                    }"
            >
              @defer (when data){
                @if(data.dadosPorTempo.length > 0){
                  <ag-charts
                    style="height: 100%; width: 100%; align-self: center"
                    [options]="graphicOption"
                  ></ag-charts>
                }
                @else {
                  <div class="card-content">
                    <p>Nenhum dado encontrado</p>
                  </div>
                }
              }
              @placeholder {
                <div class="card-content">
                  <p>Carregando...</p>
                </div>
              }
            </app-card>
        </div>
    </div>
</main>
